.watch-page-container {
  width: 80%;
  margin-left: 20%;
  padding: 20px;
  display: flex;
  flex-direction: row;

  .video-holder {
    width: 60%;
    
    .video-info {
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .download-btn {
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: red;
        border: 1px solid red;
        font-weight: 500;
        border-radius: 5px;
      }

      .video-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0px;
      }
      .video-stats {
        display: flex;
        font-size: 14px;
        color: rgb(59, 59, 59);
      }
    }

    .video-player {
      width: 100%;
    }

    .video-footer {
      text-align: left;
      
      .channel-name {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: #000;
      }

      .show-more {
        color: rgb(54, 54, 54);
        cursor: pointer;
      }
    }
  }

}