.search-page-container {
  width: 80%;
  margin-left: 20%;
  padding-top: 10px;

  .search-title {
    width: 90%;
    margin-left: 5%;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
  }
}